@media all and (min-width: 1px) and (max-width: 1000px)
  .page.page_init > .page_content
    padding 30px 0
    > .section
      width auto
      padding 20px
      &.section_top
        > .copy:nth-child(1)
          font h1
          width auto
          padding 20px
          line-height 30px
        > .logos
          width auto
          padding 30px 0
          > a > img:first-child
            padding-bottom 30px
        > .copys
          width auto
          > .copy:nth-child(1)
            font h2
            text-align center
            line-height 40px
      &.section_about
        > .copy:nth-child(2)
          width auto
          font h1
          padding-top 30px
        > .copys
          > .block
            float none
            width auto
            padding 20px
            > .copy
              padding 0

