.article-outer
  @apply block relative no-underline px-2 mb-10
a.article
  @apply block relative no-underline
  height 400px
  &:last-child
    mr-0
  &:hover
    .article_header
      height 270px
    .article_header_description
      transform translate(0, 0)
      opacity 1

.article.article_featured
  @apply w-full
  .article-header
    width 50%

.article_image, .article_header
  transition height .4s ease-in-out

.article_image
  height 400px
  @apply overflow-hidden
  img
    @apply object-cover w-full h-full
    object-position 90% 100%

.article_header_title
  @apply pb-3
.article_header_description
  transition opacity .3s linear .1s, transform .4s linear 0s
  transform translate(0, 10px)
  opacity 0

.article_header
  @apply absolute bottom-0 left-0 right-0 text-white overflow-hidden p-4 bg-scooter
  height 170px
