.bg-supernova
  background cfg-colors-supernova

.bg-japonica
  background cfg-colors-japonica

.bg-scooter
  background cfg-colors-scooter

.bg-trangreen
  background linear-gradient(-67deg, rgba(persiangreen, 0.8), rgba(mountainmeadow, 0.8))

.bg-gradgreen
  background linear-gradient(135deg, persiangreen 0%, persiangreen 45%, mountainmeadow 55%)

.bg-tranblue
  background linear-gradient(-67deg, rgba(coolblue, 0.8), rgba(deepsky, 0.8))

.bg-gradblue
  background linear-gradient(135deg, coolblue 0%, coolblue 45%, zaffre 55%)

.bg-tranred
  background linear-gradient(135deg, rgba(tacao, 0.8), rgba(violet, 0.8))

.bg-gradred
  background linear-gradient(135deg, tacao 0%, tacao 45%, violet 55%)

.bg-tranpurp
  background linear-gradient(135deg, rgba(heart, 0.8), rgba(magenta, 0.8))

.bg-gradpurp
  background linear-gradient(135deg, heart 0%, heart 45%, magenta 55%)

.bg-trandaisy
  background linear-gradient(135deg, rgba(daisybush, 0.8), rgba(danube, 0.8))

.bg-graddaisy
  background linear-gradient(135deg, daisybush 0%, daisybush 45%, danube 55%)

.bg-trantrue
  background linear-gradient(135deg, rgba(trueblue, 1), rgba(zaffre, 1))

.bg-gradtrue
  background linear-gradient(135deg, trueblue 0%, trueblue 45%, zaffre 55%)

.bg-rainbow
  background linear-gradient(90deg, bpink 0%, orange 30%, orange 70%, mountainmeadow 95%)
