
.bg-supernova
  background cfg-colors-supernova

.bg-japonica
  background cfg-colors-japonica

.bg-scooter
  background cfg-colors-scooter

.bg-trangreen
  background linear-gradient(-67deg, rgba(cfg-colors-persiangreen, 0.8), rgba(cfg-colors-mountainmeadow, 0.8))

.bg-gradgreen
  background linear-gradient(135deg, cfg-colors-persiangreen 0%, cfg-colors-persiangreen 45%, cfg-colors-mountainmeadow 55%)

.bg-tranblue
  background linear-gradient(-67deg, rgba(cfg-colors-coolblue, 0.8), rgba(cfg-colors-deepsky, 0.8))

.bg-gradblue
  background linear-gradient(135deg, cfg-colors-coolblue 0%, cfg-colors-coolblue 45%, cfg-colors-zaffre 55%)

.bg-tranred
  background linear-gradient(135deg, rgba(cfg-colors-tacao, 0.8), rgba(cfg-colors-violet, 0.8))

.bg-gradred
  background linear-gradient(135deg, cfg-colors-tacao 0%, cfg-colors-tacao 45%, cfg-colors-violet 55%)

.bg-tranpurp
  background linear-gradient(135deg, rgba(cfg-colors-heart, 0.8), rgba(cfg-colors-magenta, 0.8))

.bg-gradpurp
  background linear-gradient(135deg, cfg-colors-heart 0%, cfg-colors-heart 45%, cfg-colors-magenta 55%)

.bg-trandaisy
  background linear-gradient(135deg, rgba(cfg-colors-daisybush, 0.8), rgba(cfg-colors-danube, 0.8))

.bg-graddaisy
  background linear-gradient(135deg, cfg-colors-daisybush 0%, cfg-colors-daisybush 45%, cfg-colors-danube 55%)

.bg-trantrue
  background linear-gradient(135deg, rgba(cfg-colors-trueblue, 1), rgba(cfg-colors-zaffre, 1))

.bg-gradtrue
  background linear-gradient(135deg, cfg-colors-trueblue 0%, cfg-colors-trueblue 45%, cfg-colors-zaffre 55%)


