@media all and (min-width: 1px) and (max-width: 1000px)
  #Bottom
    > .upper
      padding 30px 20px
      width auto
      > .section.navigation
        display none
      > .section.signup
        border-left none
        width auto
        float none
        > .inner
          padding 0
          > .copy
            float none
            margin auto
            text-align center
          > .input
            float none
            margin 20px auto
    > .lower
      padding 30px 20px
      > .inner
        width auto
        > .section
          width auto
          float none
        > .section.title
          > .copy:first-child
            font h1
          > .copy:nth-child(2)
            border-bottom 1px solid white
            padding-bottom 20px
            margin-bottom 20px
        > .section.logos
          float none
          margin 20px 0 0 0
          text-align center
          > .logo
            float none
            display inline-block
            &:nth-child(1)
              margin 0 0 20px 0



