@media all and (min-width: 1px) and (max-width: 1000px)
  #BuildMoreChart
    > .copys
      float none
      padding 10px 0

    > .controls
      float none
      width auto
      > .control
        width 100%
      > .copy
        width auto
