@media all and (min-width: 1px) and (max-width: 1000px)
  #BuildMoreChart
    > .copys
      float none
      padding 10px 0

    > .controls
      float none
      width auto
      > .tip
        height 77px
      > .control
        width 100%
        > input[type=range]::-webkit-slider-thumb
          width 40px
          height 40px
          border 14px solid white
          margin-top -12px
        > input[type=range]::-webkit-slider-runnable-track
          height 15px
      > .copy
        width auto

