@media all and (min-width: 1px) and (max-width: 1000px)
  .fade
    height 1880px
  .page.page_calc
    > .page_content
      margin 0px 0 0 0
      padding 0px 0
      > .inner
        width auto
        padding 60px 0
        margin 0
  .calculator
    width auto
    > .header
      margin 0 10px
      > .copy
        > p:nth-child(2)
          font c1
          width 300px
          margin auto

    > .params
      width auto
      > .param
        padding 10px 0
        > .label
          float none
          width auto
          height auto
          text-align left
          margin 0 0 0 20px
        > .copy
          padding 0
        > .options
          margin auto
          text-align center
          > .input
            display inline-block
            > input
              margin 0
              display inline-block
              width 300px
          > .pulldowns
            > .pulldown
              > .pullarea
                > .select
                  > select
                    width 94vw
                    > option
                      width 300px
  .calculated
    z-index 30
    top 0
    left 0
    right 0
    margin-left 0px
    width auto
    border-radius 0px
    padding  0 20px
    > .inner
      > #Share
        display none
      > .close
        top 20px
        right 0
      > .data
        padding 30px 0
        margin 30px 0
        > .inner
          width auto
          > .copy.copy_body
            width auto
            padding 0
          > .stat
            width auto



