.calculator
  width 490px
  margin auto
  > .header
    border 1px solid lightblue
    border-radius 3px
    height 145px
    animation fadeIn 0.5s ease-in-out 0s both
    > .icon
      float left
      background-color lightgrey
      padding 50px
      > .inner
          background-image url('~static/icon-calculator.png')
          width 32px
          height 45px
    > .copy
      margin 0 0 0 130px
      > p
        padding 0px 0 0 20px
      > p:nth-child(1)
        font h3b
        margin 30px 0 0 0
        color darkblue
      > p:nth-child(2)
        color grey
        margin 10px 20px 0 0
  > .params
    margin 30px 0
    > .param
      border-bottom 1px solid lightblue
      padding 30px 0
      animation fadeIn 0.5s ease-in-out 0s both
      for i in 1..3
        &:nth-child({i})
          animation-delay unit((0.1*i), 's')
      &:last-child
        border-bottom none
      &:nth-child(1) > .label
        color blue
      &:nth-child(2) > .label
        color red
      &:nth-child(3) > .label
        color yellow
      > .label
        float left
        font c1ss
        text-transform uppercase
        width 100px
        height 100px
        text-align right
        > .copy
          padding 5px 20px 0 0
      > .options
        margin 0 0 0 100px
        > .option
          padding 10px
          border-radius 6px
          cursor pointer
          transition background-color 0.1s linear 0.1s
          > .copy
            font c3
            color grey
            transition color 0.1s linear 0s
          > .checkbox
            float right
            width 20px
            height 20px
            border 1px solid lightblue
            border-radius 3px
            line-height 20px
            transition border 0.1s linear 0s
            > .fa
              margin 0 0 0 2px
              color green
              display none
          &.selected
            background-color lightgrey
            > .copy
              color black
            > .checkbox
              border 1px solid grey
              > .fa
                display inline-block
          &:hover
            > .copy
              color black
            > .checkbox
              border 1px solid grey
        > .input
          > input
            border-radius 3px
            border 1px solid lightblue
            font c3
            width 290px
            outline none
            padding 15px
            &::placeholder
              color grey
        > .copy
          font c3
          margin 0 0 20px 0
        > .pulldowns
          > .pulldown
            margin 0 0 10px 0
            &:last-child
              cursor pointer
            &:hover
              > .checkbox
                border 1px solid grey
              > .pullarea
                border 1px solid grey
            &.selected
              > .checkbox
                border 1px solid grey
                > .fa.fa-check
                  display inline-block
              > .pullarea
                border 1px solid grey
                > .select
                  > select
                    color black
                > .pull
                  border-left 1px solid grey
                  > .fa
                    color black
            > .checkbox
              float left
              width 20px
              height 20px
              border 1px solid lightblue
              border-radius 3px
              line-height 20px
              transition border 0.1s linear 0.05s
              margin 20px 0 0 0
              > .fa.fa-check
                color green
                margin 0 0 0 2px
                display none
            > .pullarea
              border 1px solid lightblue
              border-radius 3px
              margin 0 0 0 30px
              position relative
              > .copy
                user-select none
                color grey
                font c3
                padding 15px
              > .select
                > select
                  z-index 2
                  top 0
                  left 0
                  font c3
                  color grey
                  border none
                  cursor pointer
                  background-color white
                  -webkit-appearance none
                  width 358px
                  padding 15px
                  outline none
                  > option
                    background-color white
                    padding 15px
              > .pull
                z-index 1
                position absolute
                top 0
                right 0
                padding 15px 15px 15px 25px
                border-left 1px solid lightblue
                font c3
                > .fa
                  margin 0 10px 0 0
                  color grey
  > .cta
    display block
    text-decoration none
    color white
    cursor pointer
    background-color blue
    width 200px
    padding 20px 0
    border-radius 3px
    text-transform uppercase
    animation fadeIn 0.5s ease-in-out 0.3s both
    font c1b
    text-align center
    margin auto
    transition transform 0.5s ease-in-out 0.2s
    &:hover
      transition transform 0.2s ease-in-out 0s
      transform scale(1.05)
.fade
  background-color rgba(black, 0.8)
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  width 100vw
  height 2000px
  &.on
    display block
  &.off
    display none

.calculated
  background-color white
  border-radius 6px
  position absolute
  width 1000px
  top 200px
  left 50%
  margin-left -500px
  animation zoomIn 1s eaes-in-out 0s both
  &.on
    display block
  &.off
    display none
  > .inner
    width inherit
    height inherit
    position relative
    > .close
      position absolute
      top  -30px
      right -30px
      background-color blue
      width 60px
      height 60px
      border-radius 50%
      line-height 70px
      text-align center
      transition transform 0.5s ease-in-out 0.2s
      &:hover
        transition transform 0.2s ease-in-out 0s
        transform scale(1.05)
      > a
        color white
        text-decoration none
    > .copy:nth-child(2)
      padding 60px 0 20px 0
      font c1sb
      text-transform uppercase
      color grey
      text-align center
    > .copy:nth-child(3)
      text-align center
      font h2
    > .data
      padding 60px 0
      margin 60px 0
      border-top 2px solid lightblue
      border-bottom 2px solid lightblue
      > .inner
        width 420px
        margin auto
        > .copy
          color grey
        > .copy:nth-child(1)
          color tomato
        > .copy.copy_header
          font h1
          color black
          padding 60px 0 20px 0
        > .copy_body
          color grey
          width 300px
          padding 0 0 30px 0
        > .stat
          width 380px
          border-radius 6px
          padding 5px 10px
          > .copy
            float left
          > .value
            float right
            color grey
          &.colored
            margin 30px 0 0 0
            > .copy
              color white
            > .value
              color white
          &.tomato
            background-color tomato
          &.yellow
            background-color yellow
          &.green
            background-color green
          
