@media screen and (min-width: 1px) and (max-width: 1000px)
  #DataSummary
    background-size cover
    > .inner
      padding 60px 20px
      > .stats
        height auto
        min-height 200px
        > .stat
          display block
          margin auto
          padding 20px 0
          border-right none !important
          height 60px
          > .value
            padding 0


