@media all and (min-width: 1px) and (max-width: 1000px)
  #DataPage
    .datapage_web
      > .section.section_demand
        padding 30px 20px
        > p:th-child(2)
          color red
      > .section.section_charts
        width auto
        > .chart
          float none
          width auto
          margin-right 0
          > .copys
            margin 20px
      > .section.section_chart
        margin 30px auto
        width auto
        > .top
          display none
        > .left
          float none
          margin auto
        > .chart
          display none
        > .copys.copyRight
          display none
      > .section.section_links
        > .inner
          padding 60px 20px
          width auto
          > .area.left, > .area.right
            margin-right 0
            border none
            float none
            width auto
          > .area.left
            margin 0 0 30px 0
      > .sources
        width auto
        padding  0 20px 60px 20px
      > .section.section_district
        > .DistrictCopy
         > .pointers
           width auto
           > .pointer
             width auto
             float none
             padding 20px


