@media all and (min-width: 1px) and (max-width: 1000px)
  #DataPage
    .datapage_web
      > .section.section_demand
        width auto
        padding 30px 20px
        > .pdf
          top 20px
          right 20px
          > .copy
            display none
        > p:th-child(2)
          color red
        > .inner
          margin 30px 0 60px 0
          > #Share
            top -30px
            right 0
      > .section.section_charts
        width auto
        > .chart
          float none
          width auto
          margin-right 0
          margin auto 10px
          > .copys
            margin 20px
      > .section.section_chart
        margin 30px auto
        width auto
        > .top
          display none
        > .left
          float none
          margin auto
        > .chart
          display none
        > .copys.copyRight
          display none
      > .section.section_links
        > .inner
          padding 60px 20px
          width auto
          > .area.left, > .area.right
            margin-right 0
            border none
            float none
            width auto
          > .area.left
            margin 0 0 30px 0
      > .sources
        clear both
        width auto
        padding  160px 20px 20px 20px
      > .section.section_district
        width auto
        > .pdf
          top 20px
          right 20px
          > .copy
            display none
        > .DistrictCopy
          padding-top 60px


