.datapage_print
  overflow hidden
  height 1px
  width 750px
  margin auto
  #DataSummary
    > .bars
      display none !important
    > .inner
      padding 10px 0
      > .breadcrumb
        padding 0 0 10px 0
      > .copy
        padding 0 0 0px 0 !important
      > .copy:nth-child(2)
        font 30px/30px 'Rubik'
      > .stats
        height auto
        > .stat
          padding 10px 30px
          > .value
            font h1b
            height 30px
          > .copy
            font c1ss

  .section.section_trio
    .district_charts
      width auto
      padding 10px 0 0 0
      .dchart
        > .inner
          > .title
            font c1ssb
          height 380px
          margin 0px
          border 0px solid transparent
          > .circle-chart
            > .value
              margin auto
              top 50%
              left 0
              width 100%
              margin-top -24px


          > .copy:nth-child(3)
            display none
          > .copy:nth-child(4)
            margin 10px auto 0 auto
          > .title
            padding 10px
          > #percs
            margin 10px 5px
        .copys
          margin 0 10px
          > .copy:nth-child(2)
            font-size 14px
            line-height 18px
      
  .section_chart
    margin-top 5px
    > .chart.left
      float left
      width 520px
      > #HousingGap
        height auto
        padding 10px
        border none
        .title
          padding 0 0 10px 0
        .stat
          clear both
          display block
          position static
          float none
          padding 0 0 10px 0

  .section_demand
    position relative
    float right
    background-color lightwhite
    width 210px
    border-radius 6px
    padding 10px
    font-size 15px
    line-height 18px
    p:nth-child(1)
      font h1
      margin 10px 0
    P > span > span
      color red
    .pointer
      position absolute
      width 3px
      height 20px
      background-color black
      left 30px
      bottom -10px

  .section_charts
    display flex
    .chart:nth-child(1)
      border-right 1px solid grey
      > .copy
        line-height 16px
    .chart:nth-child(2)
      padding-left 10px
      margin-right 5px
      padding-right 5px
      border-right 1px solid grey
    .chart:nth-child(3)
      margin-left 10px
    .chart
      width 33%
      > .copys
        > .copy:nth-child(1)
          font c1b
        > .copy:nth-child(2)
          font c1ss
          line-height 14px
          color grey
          height 90px
      > .title
        font c1sb
        text-transform uppercase
      #NationalStats
        width 100%
        > .body
          > .stats
            > .stat
              padding-top 10px
              padding-bottom 10px

  > .logos
    width 750px
    height 30px
    margin 20px auto 0 auto
    text-align right
    > img
      height 50px
  > .source
    text-align right
    color grey
    padding 3px 6px
    font c1ss

