@media all and (min-width: 1px) and (max-width: 1000px)
  #DualLineChart
    .charts
      > .block
        float none
        width 100%
        margin 0 auto 30px auto
        > .chart
          > canvas
            margin auto
