.error-page
  background url(/balconies.png)
  background-repeat no-repeat
  background-size contain
.error-page-inner
  background linear-gradient(-67deg, rgba(light-crimson, 0.8), rgba(tacao, 0.8))
  text-align center
