@media all and (min-width: 1px) and (max-width: 1000px)
  #FAQ
    > .inner
      width auto
      > .qas
        > .qa
          float none
          width 100%
          border none !important
          height auto !important
