
@font-face
  font-family "okomito regular"
  font-weight normal
  src url("/fonts/okomito/regular.otf") format("opentype"), url("/fonts/okomito/regular.ttf") format("truetype")

@font-face
  font-family "okomito bold"
  font-weight normal
  src url("/fonts/okomito/bold.otf") format("opentype"), url("/fonts/okomito/bold.ttf") format("truetype")
