@media all and (min-width: 1px) and (max-width: 1000px)
  #GradientChart
    width 100%
    > .chart
      background-size cover
      background-repeat no-repeat
      background-position 100% 0%
    > .data
      > .copys
        float none
        width auto
        padding 0 10px
      > .legend
        display none
      > .values
        right 10px
        margin-top -26vh
        > .value:nth-child(2)
          margin 24vh 0
