.header-menu
  animation zoom-in 0.2s both 0.3s
  @apply fixed top-0 right-0 overflow-hidden z-20 -mt-4 -mr-4
  &.is-open
    @apply w-fullbleed h-fullbleed
  &.is-closed
    @apply tran-size-delay w-24 h-24

.header-menu-blue
  @apply rounded-full absolute top-0 right-0 bg-black w-24 h-24
  &.is-open
    @apply scale-30
  &.is-closed
    @apply scale-1

.header-menu-inner
  @apply absolute top-0 right-0 w-24 h-24
  &.is-open
    @apply w-fullbleed h-fullbleed

.header-menu-swap
  @apply tran-colors select-none absolute top-0 right-0 cursor-pointer rounded-full w-24 h-24 flex items-center justify-center
  &.is-open
    @apply bg-white text-black
  &.is-closed
    @apply bg-black text-white

.header-menu-content
  @apply text-white mt-40 mr-16 flex flex-col items-end justify-around
  a
    @apply text-white block p-2 m-2 ani-sil text-3xl underline
  a:hover
    @apply bg-mischka text-bigstone
  a.is-active, a.is-active:hover
    @apply bg-white text-bigstone
  for i in 1..6
    a:nth-child({i})
      animation-delay unit(0.05 * i, 's')

.header-menu-burger
  width 40px
  height 30px
  cursor pointer
  i
    content ''
    display block
    width 100%
    height 6px
    border-radius 3px
  i:nth-child(1)
    animation outT 0.4s forwards
  i:nth-child(2)
    margin 10px 0
    animation outM 0.4s forwards
  i:nth-child(3)
    animation outB 0.4s forwards
  &.is-closed i
    background-color white
  &.is-open i
    background-color bigstone
  &.is-closed
    i:nth-child(1)
      animation inT 0.4s reverse forwards
    i:nth-child(2)
      animation inM 0.4s reverse forwards
    i:nth-child(3)
      animation inB 0.4s reverse forwards

@keyframes inT
  0%
    transform translateY(0px) rotate(0deg)
  50%
    transform translateY(16px) rotate(0deg)
  100%
    transform translateY(16px) rotate(135deg)

@keyframes inM
  50%
    transform rotate(0deg)
  100%
    transform rotate(45deg)

@keyframes inB
  0%
    transform translateY(0px) rotate(0deg)
  50%
    transform translateY(-16px) rotate(0deg)
  100%
    transform translateY(-16px) rotate(135deg)

@keyframes outT
  0%
    transform translateY(0px) rotate(0deg)
  50%
    transform translateY(16px) rotate(0deg)
  100%
    transform translateY(16px) rotate(135deg)

@keyframes outM
  50%
    transform rotate(0deg)
  100%
    transform rotate(45deg)

@keyframes outB
  0%
    transform translateY(0px) rotate(0deg)
  50%
    transform translateY(-16px) rotate(0deg)
  100%
    transform translateY(-16px) rotate(135deg)
