.bg-tranblue
  background linear-gradient(-67deg, rgba(cfg-colors-coolblue, 0.8), rgba(cfg-colors-robinsegg, 0.8))
  // 019ef3
  // 14d0dc
  // -67deg

.w-fullbleed
  width calc(100vw + 1rem)
.h-fullbleed
  height calc(100vh + 1rem)

.scale-30
  transform scale(30)
  transition transform 0.5s ease-in-out 0s

.scale-1
  transform scale(1)
  transition transform 0.3s ease-in-out 0s

.tran-size-delay
  transition width 0s linear 0.6s, height 0s linear 0.6s

.tran-colors
  transition background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s

.tran-width-1s-l
  transition width 1s linear

// cubic-bezier(.87,-0.41,.19,1.44)

.top-50
  top 50%
.left-50
  left 50%

.transform-50
  transform translate(-50%, -50%)

.waa-button
  cursor pointer
  @apply inline-block px-12 py-3 text-white rounded-full border border-white hover-tran-bg
  &:hover
    @apply bg-black
    transform scale(1.05)

.hover-tran-bg
  transition background-color 0.5s ease 0s

.canister
  max-width 960px
  @apply mx-auto
