@import mixins
@import keyframes
json('../colors.json')

body
  background-color white
  font-family 'Roboto'
  font-size 16px
  margin 0
  padding 0

.border
  height 5px
  background-color lightgrey

.page_content
  clear both
  text-align center
  padding-top 60px

.button
  display inline-block
  font-size 12px
  > a
    border-radius 3px
    display inline-block
    padding 10px 30px
    background-color blue
    color white
    text-decoration none

.clear
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

