/* purgecss start ignore */

bigstone = #35434A
bastille = #2A2B32
shark = #34353D
mischka = #d0d7dd
light-crimson = #EB6A98
tacao = #F5B581
robins-egg = #14D3DE

json('../../package.json')

@import fonts
@import helpers
@import backgrounds
@import keyframes
@import animations
@import transitions
@import viewport

@import header-menu
@import articles

html, body
  @apply font-oki bg-black

@media print
  body
    -webkit-print-color-adjust exact

/* purgecss end ignore */
