@media all and (min-width: 1px) and (max-width: 1000px)
  #MetroDemand
    width auto
    > .inner
      > .copy
        width auto
      > .title, > .copy, > .legend
        padding 0 20px
      > .chart
        margin 0 10px
