#MetroDemand
  padding 90px 0
  width 900px
  margin auto
  text-align center
  > .inner
    > .title
      font h2
      inViewport(0.1)
    > .copy
      width 590px
      margin auto
      padding 30px 0
      color grey
      inViewport(0.2)
    > .legend
      text-align right
      > .dot
        float right
        width 15px
        height 15px
        background-color aqua
        border-radius 50%
        margin 3px 10px 0 0
        inViewportSide(0.3)
      > .copy
        float right
        font c1ssb
        text-transform uppercase
        inViewportSide(0.4)
    > hr
      color lightgrey
      border-top 1px solid lightgrey
      border-bottom 1px solid lightgrey
      margin 30px 0
    > .chart
      margin 90px 0 0 0

