@media all and (min-width: 1px) and (max-width: 1000px)
  #MetroChart
    margin 0 0 60px 0
    > .control
      width auto
      text-align center
      > .copy
        float none
        text-align left
      > .button
        float none
        margin auto
        margin 0 0 20px 0
     > nav
       width 200px
       left 50%
       margin-left -100px
       bottom -70px
