fullsize()
  top 0
  left 0
  right 0
  bottom 0

onoff()
  &.on
    display block
  &.off
    display none

inViewport(delay)
  opacity 0
  transform translate(0, -20px)
  &.in-viewport
    opacity 1
    transform translate(0, 0)
    transition opacity 1s ease-in-out unit(delay, 's'), transform 1s ease-in-out unit(delay, 's')
  &.above-viewport
    opacity 0
    transform translate(0, -20px)
    transition opacity 1s ease-in-out 0.2s, transform 1s ease-in-out 0.2s
  &.below-viewport
    opacity 0
    transform translate(0, 20px)
    transition opacity 1s ease-in-out 0.2s, transform 1s ease-in-out 0.2s

