@media all and (min-width: 1px) and (max-width: 1000px)
  nav#Navigate
    > .blue
      width 60px
      height 60px
    > .inner
      > .cbutton
        width 60px
        height 60px
        line-height 60px
        > .copy
          display none !important
        > .icon
          display block
      > .content
        > .title
          position absolute
          top 20px
          left 20px
        > .menu
          margin 90px 30px 0 0
          font h1
          > .option
            margin 40px 0
            > a
              padding 10px 20px
