#Navigate
  position absolute
  top 0
  right 0
  overflow hidden
  z-index 10
  > .inner > .cbutton > .icon
    display none
  &.on
    width 100vw
    height 100vh
    > .blue
      transform scale(30)
      transition transform 0.5s ease-in-out 0s
    > .inner > .cbutton
      background-color white
      color darkblue
      > .copy.copy_menu
        display none
      > .icon.icon_menu
        display none !important
    > .inner > .content
      opacity 1
      transition opacity 0.1s ease-in-out 0.3s
  &.off
    width 100px
    height 100px
    transition width 0s linear 0.6s, height 0s linear 0.6s
    > .blue
      transform scale(1)
      transition transform 0.3s ease-in-out 0s
    > .inner > .cbutton
      background-color rgba(darkblue)
      color white
      > .copy.copy_close
        display none
      > .icon.icon_close
        display none !important
    > .inner > .content
      opacity 0
      transition opacity 0.1s ease-in-out 0.1s

  > .blue
    position absolute
    background-color darkblue
    width 100px
    height 100px
    top 0
    right 0
    top 0px
    right 0px
    border-radius 50%
  > .inner
    position absolute
    top 0
    right 0
    width 100vw
    height 100vh
    > .cbutton
      width 100px
      height 100px
      position absolute
      cursor pointer
      top 0
      right 0
      text-align center
      line-height 100px
      border-radius 50%
      transition background-color 0.2s ease-in-out 0.2s
      user-select none
      > .copy:hover
        text-decoration underline
    > .content
      > .title > a
        color white
      > .menu
        float right
        margin 120px 60px 0 0
        font h2
        line-height 50px
        > .option 
          text-align right
          margin 2px 0
          > a
            padding 0 20px
            color white
            transition background-color 0.2s ease-in-out 0.01s
            &.nuxt-link-exact-active
              background-color rgba(lightblue, 0.5)
            &:hover
              background-color rgba(lightblue, 0.2)

