.vp-y
  opacity 0
  transform translate(0, -20px)
  &.in-viewport
    animation slide-in-top 0.4s ease-in-out 0s both
  &.below-viewport:not(.in-viewport)
    animation slide-out-top 0.4s ease-in-out 0s both
  &.above-viewport:not(.in-viewport)
    animation slide-out-bottom 0.4s ease-in-out 0s both

.vp-r
  opacity 0
  transform translate(0, -20px)
  &.in-viewport
    animation slide-in-right 0.4s ease-in-out 0s both
  &.below-viewport:not(.in-viewport)
    animation slide-out-right 0.4s ease-in-out 0s both
  &.above-viewport:not(.in-viewport)
    animation slide-out-right 0.4s ease-in-out 0s both

.vp-r-f
  opacity 0
  transform translate(0, -100%)
  &.in-viewport
    animation slide-in-right-full 0.4s ease-in-out 0s both
  &.below-viewport:not(.in-viewport)
    animation slide-out-right-full 0.4s ease-in-out 0s both
  &.above-viewport:not(.in-viewport)
    animation slide-out-right-full 0.4s ease-in-out 0s both

.vp-l
  opacity 0
  transform translate(0, -20px)
  &.in-viewport
    animation slide-in-left 0.4s ease-in-out 0s both
  &.below-viewport:not(.in-viewport)
    animation slide-out-left 0.4s ease-in-out 0s both
  &.above-viewport:not(.in-viewport)
    animation slide-out-left 0.4s ease-in-out 0s both



.vp-l-f
  opacity 0
  transform translate(0, -100%)
  &.in-viewport
    animation slide-in-left-full 0.4s ease-in-out 0s both
  &.below-viewport:not(.in-viewport)
    animation slide-out-left-full 0.4s ease-in-out 0s both
  &.above-viewport:not(.in-viewport)
    animation slide-out-left-full 0.4s ease-in-out 0s both

.vp-z
  opacity 0
  transform scale(0.8)
  &.in-viewport
    animation zoom-in 0.4s ease-in-out 0s both
  &.below-viewport:not(.in-viewport)
    animation zoom-out 0.4s ease-in-out 0s both
  &.above-viewport:not(.in-viewport)
    animation zoom-out 0.4s ease-in-out 0s both

for i in 1..20
  .vp-d-{i}
    animation-delay unit(0.1 * i, 's') !important
