@media all and (min-width: 1px) and (max-width: 1000px)
  .sources
    width auto
    padding 20px

  .page.page_vision > .page_content
    > .section > .inner
      padding 60px 20px !important
      width auto !important
    > .section
      &.section_top
        > .inner
          width 100%
          height auto
          margin auto
          top 120px
          left 0
          > .title
            margin 0 0 60px 0
          > .copy
            font c2
      &.section_together
        > .inner
          width auto
          > .top-block
            width auto
            > #Share
              top 20px
              right 0px
              width 100px
          > .image-text-block-1, .image-text-block-2
            > .image
              float none
              width 100%
            > .text
              float none
              width 100%
              margin auto
          > .bottom-block
            width auto
            padding 40px 20px
            > .copy
              width auto
            > .line
              right 60px
              

      &.section_download
        > .inner
          text-align center
          > .copy
            float none
            width auto
            padding 0 20px 60px 20px
            text-align left
          > .cta
            display inline-block
            float none
            margin auto
      &.section_download
        > .inner
          width auto
          padding 60px 20px
      &.section_stakes
        > .inner
          > .copy:nth-child(2)
            width auto
      &.section_chart
        &.section_chart_metros
          height auto
        &.section_chart_incomeafford
          height auto
          > .inner > .copy_legend > .copy:nth-child(2)
            padding 20px 0
          > .inner > .copy_legend > .legend
            padding 0 0 30px 0
        &.section_chart_buildmore
          height auto
          > .inner > .copy_legend > .copy:nth-child(2)
            padding 20px 0
        > .inner
          > .copy_legend
            float none
            width auto
          > .chart_area
            width 100%
            float none
            margin 0

