p The Demand
p New research shows that demand for apartments is on the rise.  Whether it's young professionals, couples, families or empty nesters, 
  b the country will add 
    span 4.6 million 
    | new apartment households 
    span by 2030

