.inner
  .copy did you know?
  .copy Just 100 apartments in your district creates a powerful economic benefit.

.pointers
  .pointer
    .icon.icon-residents
    .copy The residents
    .copy Who live in those 
      b 100 apartments 
      | annually generate an additional 
      b $2 million 
      | for the local economy and support 
      b 24 jobs.
  .pointer
    .icon.icon-operation
    .copy The Operation
    .copy of those
      b 100 apartments 
      | anually generates an extra 
      b $533 thousand 
      | in economic contribution and supports  
      b 5 jobs.
  .pointer
    .icon.icon-graph
    .copy The Construction
    .copy of 
      b 100 new apartments 
      | generates 
      b $19 million 
      | in economic contribution to the state economy and supports 
      b 168 jobs.
  .clear


